{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 120,
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "bracketSameLine": true
}
